<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Festas</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addFesta()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div class="" *ngIf="temFesta; else naoTemFesta ">
  <ion-list>
    <button ion-button class="tamanho-botoes" color="dark" outline large *ngFor="let festa of festas | async" (click)="showOptions(festa.$key, festa.nome)"  >
        {{festa.nome}}
    </button>
  </ion-list>
</div>

<ng-template #naoTemFesta>
<h3>Você ainda não criou uma festa</h3>
</ng-template>








</ion-content>
