page-tela-login {
  ion-content{
     background-image: url("../../assets/img/baloes.png");
  }

  .img-logo-tamanho{
    width: 250px;
    height: 250px;
    padding-left: 40px;
  }
   .login-content {

     .login-box {
       background: #f19558;
     }

     ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
          border-radius: 30px !important;
          padding-left: 15px !important;
          font-size: 0.9em;
          margin-bottom: 3px;
          border: 1px solid #ffffff;
          border-bottom: 0px !important;
          box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background: #51CFB1;
        border-radius: 20px !important;
        border: 1px solid #ffffff;
        font-size: 0.9em;
        height: 30px;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }
   }

}
