#exclui todo o conteudo dos diretorios plataforms  pglugins
HelloWorld/platforms
HelloWorld/plugins

GPS/platforms
GPS/plugins

Agenda/platforms
Agenda/plugins
Agenda/node_modules

PlayMusic/node_modules
PlayMusic/platforms
PlayMusic/plugins

novoTeste/node_modules
novoTeste/platforms
novoTeste/plugins

partytime/node_modules
partytime/platforms
partytime/plugins

usuarios/node_modules
usuarios/platforms
usuarios/plugins

partytimeBackEnd/node_modules
