page-convites {
  ion-card-header{
    background-color: #00a1c4;
  }
  h3{
    width: 100%;
  }
  h3, p {

        font-family: "axis";
        font-size: 15px;
    }
  .botao-largura{
      width: 70px ;
    }
  .letra-branca{
      color: white; 
  }

  .botao-verde{
      background-color: #00ca57 !important;
    }
}
