<ion-header>

  <ion-navbar>
    <ion-title>Amigos</ion-title>

    <ion-buttons start>
      <button ion-button icon-only (click)="goToAdicionarAmigos()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <div class="" *ngIf="temAmigos ; else naoTemAmigos" >
      <div class="" *ngFor="let amigo of usuarios">
        <div class="" *ngIf="amigo.amizadeNova">
        <ion-item class="nova-amizade" *ngIf="amigo.quemFezAmizade != key" >

          <ion-row>
            <ion-col col-3>
              <ion-avatar item-left>
                <img src="{{amigo?.foto2}}">
              </ion-avatar>
            </ion-col>
            <ion-col col-6>
              <p> Nova amizade </p>
              <p> {{amigo.nome2}}</p>
            </ion-col>
            <ion-col col-3>
              <ion-row>
                <button class="botao" ion-button icon-only color="danger" round outline item-right (click)="excluirAmizade(amigo.keyAmizade,amigo.nome2)" >
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-row>
              <ion-row>
                <button class="botao" ion-button icon-only round outline  item-right (click)="aceitarAmizade(amigo.keyAmizade,amigo.nome2)" >
                  <ion-icon name="checkmark"></ion-icon>
                </button>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
          </div>
      </div>

      <div class=""  *ngFor="let amigo of usuarios ">
        <ion-item *ngIf="amigo.key != key ; else amizadeAvessa" >
          <span>{{amigo?.nome}}</span>
          <ion-avatar item-left>
            <img src="{{amigo?.foto}}">
          </ion-avatar>
          <button ion-button icon-only outline large round item-right color="danger" (click)="excluirAmizade(amigo.keyAmizade,amigo.nome)" >
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
        <ng-template #amizadeAvessa>
          <ion-item  >
            <span>{{amigo?.nome2}}</span>
            <ion-avatar item-left>
              <img src="{{amigo?.foto2}}">
            </ion-avatar>
            <button ion-button icon-only outline large round item-right color="danger" (click)="excluirAmizade(amigo.keyAmizade,amigo.nome2)" >
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
        </ng-template>

      </div>

    </div>

    <ng-template #naoTemAmigos>
      <h3>Você ainda não tem amigos</h3>
    </ng-template>

  </ion-list>



</ion-content>
