page-amigos {
  .botao{
    margin: 0px !important;
    padding: 0px !important;
  }
  .nova-amizade{
    border-radius: 30px !important;
    background-color: #f0f873;
  }

  h3, p, h4,span {

    font-family: "axis";
    font-size: 15px;
  }

}
