<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Amigos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar
  placeholder=" Buscar Amigos"
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="search(myInput)"
  (ionCancel)="onCancel()">
</ion-searchbar>

<ion-list>
  <div *ngFor="let usuario of usuarios | async">
    <ion-item class="" *ngIf="usuario.$key != key">
      <ion-avatar item-left>
        <img src="{{usuario?.foto}}">
      </ion-avatar>
      <h2>  {{usuario.nome}}</h2>
      <button ion-button icon-only outline large round item-right (click)="addAmigo(usuario.$key)" >
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-item>
  </div>
</ion-list>



</ion-content>
